html {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

nav a {
  font-size: 18px;
  color: white;
}

.section-a {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.section-a h2 {
  font-size: 23px;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.footer nav {
  display: inline-block;
}
